<div ng-controller="ToDoController">
  <div class="row">
    <div class="to-do-container" ng-repeat="toDo in vm.toDoList">
      <div class="col-sm-6 col-md-4">
        <form name="toDoItem">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" value="{{ toDo.title }}">

          </div>
          <div class="pull-right">
            <button class="btn btn-default">Edit</button>
            <button class="btn btn-default">x</button>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
